.checkout {
  display: flex;
  padding: 20px;
}

.checkout__left {
  background-color: white;
  height: max-content;
  width: 75%;
  max-width: 75%;
  margin-left: 10px;
  margin-right: 15px;
}

.checkout__right {
  height: max-content;
  width: 30%;
  max-width: 30%;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__info {
}
